.footer {
  background-color: #0f172a;
  color: white;

  padding: 30px 0;
  text-align: center;
}

/* Logo */
.footer-logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Footer links */
.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;

  margin-bottom: 20px;
  padding: 0;
}

.footer-links li {
  cursor: pointer;
  font-size: 15px;
}

.footer-links li:hover {
  color: #38bdf8;
}

/* Social icons */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;

  font-size: 22px;
  margin-bottom: 15px;
}

.social-icons svg {
  cursor: pointer;
}

.social-icons svg:hover {
  color: #38bdf8;
}

/* Bottom text */
.footer-text {
  font-size: 14px;
  opacity: 0.8;
}
