* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #1df8d4;

}

.navbar{
    background-color: #333;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
}

.logo{
    color: rgb(130, 241, 3);
    font-size: 24px;
    font-weight: bold;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-right: 0px;
}


.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
    justify-content: center;
}
.nav-links li a:hover{
    color: blue;
    

}



.search-box{
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-box input{
    padding: 10px 0px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #88fc04;
    height: 28px;
    width: 200px;
}

.search-box button{
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    background-color: #f13939;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-box button:hover{
    background-color: #777;
}
